<div class="experience-section">
    <div class="experience-card">
    <div class="timeline-item">
      <div class="timeline-icon">
        <i class="fa fa-briefcase"></i>
      </div>
      <div class="timeline-content">
        <span class="date">10th April 2024 – 4th-Dec 2024</span>
        <h3 class="title">Software Engineer,</h3>
        <p>BEINEX – Infopark,Kochi <br>Developed Aurex™ (GRC audit tool) in Angular, building responsive dashboards,
          integrating APIs, and delivering pixel-perfect, high-quality features.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <i class="fa fa-briefcase"></i>
      </div>
      <div class="timeline-content">
        <span class="date">Apr 2023 – Apr 2024</span>
        <h3 class="title">Associate Software Engineer,</h3>
        <p>BEINEX – Infopark,Kochi <br>Enhanced UI/UX, fixed critical bugs, optimized performance, and contributed to
          multiple production releases with CI/CD and code reviews.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <i class="fa fa-briefcase"></i>
      </div>
      <div class="timeline-content">
        <span class="date">Jan 2023 – Mar 2023</span>
        <h3 class="title">Frontend Developer Intern</h3>
        <p>BEINEX – Infopark,Kochi <br>Built responsive Angular components, delivered high-quality features, and earned
          recognition for consistently exceeding expectations.</p>
      </div>
    </div>
  </div>
  <div class="experience-card">
    <div class="timeline-item">
      <div class="timeline-icon">
        <i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-content">
        <span class="date">2016 - 2022</span>
        <h3 class="title">B.Tech in Information Technology</h3>
        <p>College of Engineering and Management Punnapra, Alappuzha, Kerala.</p>
        <p>6.56/10 CGPA</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-content">
        <span class="date">2014 - 2016</span>
        <h3 class="title">Higher Secondary</h3>
        <p>NMHSS,Kerala.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-content">
        <h3 class="title">Secondary School</h3>
        <p>SJPS,Kerala.</p>
      </div>
    </div>
  </div>


</div>